* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  height: 100vh;
  place-items: center;
}
.loader {
  z-index: 1;
  position: absolute;
  padding: 1rem;
  animation: spin 1500ms linear infinite;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  border: 13px solid rgb(238, 226, 226);
  border-top: 13px solid rgb(137, 137, 199);
  visibility: visible;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg) }
}

.musicplayer__wrapper {
  visibility: hidden;
  width: 50%;
  height: 80%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(221, 214, 214);
  border-radius: 1.5rem;
  justify-content: space-between;
  /* background-color: rgb(240, 240, 240); */
  z-index: 2;
}

.song__img--container {
  width: 100%;
  max-width: 300px;
  height: 50%;
  margin-top: 1.2rem;
  border-radius: 50%;
}
.song__img {
  display: none;
}

.song--info {
  margin-top: 3.5rem;
}

.song--controls {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 3.5rem 0 7rem 0;
}

.song__img[data-played] {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  border-radius: 50%;
}

.fa-play, .fa-pause {
  font-size: 50px;
  padding: 10px;
}
.fa-forward-step, .fa-backward-step {
  font-size: 20px;
}