* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  height: 100vh;
  place-items: center;
  visibility: hidden;
  background-color: rgb(231, 231, 243);
}

.bg-image {
  filter: blur(3px);
  position: absolute;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  width: 100%;
}
.loader {
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 1rem;
  animation: spin 1500ms linear infinite;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  border: 13px solid rgb(235, 159, 159);
  border-top: 13px solid rgb(184, 54, 54);
  visibility: visible;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg) }
}

.musicplayer__wrapper {
  visibility: hidden;
  width: 50%;
  height: 80%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(221, 214, 214);
  border-radius: 1.5rem;
  justify-content: space-between;
  background: rgba(120, 120, 120, 0.5);
}

.progress-bar__container {
  height: .5rem;
  width: 90%;
  background-color: transparent;
  border: 1px solid rgb(156, 155, 155);
  border-radius: 5px;
}
.progress-bar {
  background-color: rgb(37, 24, 10);
  height: 100%;
  width: 0%;
  transition: width 100ms linear;
}

.song__img--container {
  width: 100%;
  max-width: 300px;
  height: 50%;
  margin-top: .4rem;
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  border-radius: 2.4rem;
}

.song--info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
.song--title {
  font-weight: bold;
  font-size: 1.1rem
}
.song--artist {
  margin-top: .4rem;
  font-weight: lighter;
}

.song--controls {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  position: relative;
}

.fa-play, .fa-pause {
  font-size: 55px;
  padding: 10px;
  margin: 0 1.2rem;
}
.fa-forward-step, .fa-backward-step {
  font-size: 25px;
}

.song--controls p:nth-child(1) {
  position: absolute;
  left: 15%;
}
.song--controls p:last-of-type {
  position: absolute;
  right: 15%;
}
.song--controls p:nth-child(1).clicked, .song--controls p:last-of-type.clicked {
  color: white;
}